* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/grid.png");
    width: 1920px;
}

.nav-container {
    display: flex;
    max-width: 1920px;
    height: 100px;
    background-color: #cadbed;
}