@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./color.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("../img/grid.png");
    max-width: 1920px;
}

.nav-wrap {
    background-color: var(--header-bg-color);
    max-width: 1920px;
}

.nav-container {
    margin-left: 375px;
    margin-right: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100px;
    font-size: 21px;
    color: var(--header-font-color);
}

/* ------------------------------------------------------------------- */
.logo-head {
    margin-right: 100px;
}

/* ------------------------------------------------------------------- */
.btn-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border-left: 1px solid #2c71b8;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #2c72b835;
    border-radius: 10px;
}

/* ------------------------------------------------------------------- */
.btn-products {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border-left: 1px solid #2c71b8;
    cursor: pointer;
}

.btn-products:hover {
    background-color: #2c72b835;
    border-radius: 10px;
}

/* ------------------------------------------------------------------- */
.btn-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border-left: 1px solid #2c71b8;
    cursor: pointer;
}

.btn-payment:hover {
    background-color: #2c72b835;
    border-radius: 10px;
}

/* ------------------------------------------------------------------- */

.btn-shipping {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border-left: 1px solid #2c71b8;
    cursor: pointer;
}

.btn-shipping:hover {
    background-color: #2c72b835;
    border-radius: 10px;
}

/* ------------------------------------------------------------------- */
.search input {
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    background-color: var(--header-bg-color);
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 170px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--header-font-color);
    padding-left: 18px;
    cursor: pointer;
}

.search ::placeholder {
    font-size: 18px;
    text-align: start;
    color: var(--header-font-color);
    padding-left: 5px;
    cursor: pointer;
}

/* ------------------------------------------------------------------- */
.btn-basket {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(../img/basket.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn-basket-counter {
    background-color: var(--header-font-color);
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: -10px;
}

.basket-number {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 2px;
}