:root {
    /* header */
    --header-bg-colour: rgba(202, 219, 237, 0.75);
    --header-font-colour: #2c71b8;
    --Roboto-font-family: 'Roboto', sans-serif;
    --header-search-basket: url(../img/basket.png);
    /* main */
    --body-bg-image: url(../img/grid.png);
}

/* ------------------------------------------------------------ */
body {
    background-image: var(--body-bg-image);
    font-family: var(--Roboto-font-family);
}

.header {
    background-color: var(--header-bg-colour);
    display: flex;
    align-items: center;
    height: 100px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    font-size: 21px;
}

.row {
    display: flex;
    align-items: center;
    width: 1200px;
    max-width: 1200px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.logo {
    margin-top: 7px;
}

.menu {
    display: flex;
}

.menu li {
    width: 25%;
    border-left: 2px solid var(--header-font-colour);
}

.menu li:last-child {
    border-right: 2px solid var(--header-font-colour);
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 21px;
    color: var(--header-font-colour);
    text-align: center;
    line-height: 50px;
}

.search {
    display: flex;
}