:root {
    /* header */
    --header-bg-colour: rgba(202, 219, 237, 0.75);
    --header-font-colour: #2c71b8;
    --Roboto-font-family: 'Roboto', sans-serif;
    --header-search-basket: url(../img/basket.png);
    /* main */
    --body-bg-image: url(../img/grid.png);
}

/* ------------------------------------------------------------ */
* {
    box-sizing: border-box;
}

body {
    background-image: var(--body-bg-image);
    font-family: var(--Roboto-font-family);
}

/* ------------------------general properties (header/main/footer)------------------------- */
.header {
    background-color: var(--header-bg-colour);
    display: flex;
    align-items: center;
    height: 100px;
}

.main {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
}

/* ------------------------grid------------------------- */
.container {
    padding: 0 15px;
    margin: 0 auto;
    font-size: 21px;
}

.row {
    display: flex;
    align-items: center;
    width: 1200px;
    max-width: 1200px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* ------------------------logo------------------------- */
.logo {
    margin-top: 7px;
}

/* ------------------------all-menu------------------------- */
.menu {
    display: flex;
}

.menu li {
    width: 25%;
    border-left: 1px solid var(--header-font-colour);
}

.menu li:last-child {
    border-right: 1px solid var(--header-font-colour);
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: var(--header-font-colour);
}

/* ------------------------btn-home------------------------- */
.btn-home:hover .item-menu-name {
    background-color: #2c71b8;
    color: white;
}

.btn-home:hover .open-menu {
    display: block;
}

/* ------------------------btn-products------------------------- */
.btn-products:hover .item-menu-name {
    background-color: #2c71b8;
    color: white;
}

.btn-products:hover .open-menu {
    display: block;
}

/* ------------------------btn-payment------------------------- */
.btn-payment:hover .item-menu-name {
    background-color: #2c71b8;
    color: white;
}

.btn-payment:hover .open-menu {
    display: block;
}

/* ------------------------btn-shipping------------------------- */
.btn-shipping:hover .item-menu-name {
    background-color: #2c71b8;
    color: white;
}

.btn-shipping:hover .open-menu {
    display: block;
}

/* ------------------------drop-menu------------------------- */
.open-menu {
    display: none;
    width: 285px;
    height: max-content;
    background-color: var(--header-font-colour);
    position: absolute;
    top: 75px;
}

.open-menu p {
    line-height: 10px;
    padding: 15px 10px 10px 30px;
    color: white;
}

.item-menu {
    height: 40px;
}

.item-menu:hover {
    color: var(--header-font-colour);
    background-color: white;
}

/* ------------------------search and basket------------------------- */
.search-basket {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--header-font-colour);
}

.search input {
    width: 80%;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
}

.search button {
    margin-right: -25px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--header-font-colour);
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
}

.search input::placeholder {
    color: var(--header-font-colour);
}

.search input:read-write {
    color: var(--header-font-colour);
}

.search:hover {
    border: 2px solid var(--header-font-colour);
}

.btn-basket {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.basket {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: var(--header-search-basket);
    background-repeat: no-repeat;
    background-position: center;
}

.counter {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--header-font-colour);
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: small;
    border: none;
    margin: -10px;
}

/* ------------------------main------------------------- */

.sidebar {
    background-color: blue;
    height: 100px;
}

.content {
    background-color: aqua;
    height: 100px;
}

.view {
    background-color: bisque;
    height: 100px;
}